[Desktop Entry]
Type=Application
Name=Power Manager
Comment=Power Manager
#TRANSLATIONS
Exec=liri-power-manager
TryExec=liri-power-manager
Terminal=false
StartupNotify=false
OnlyShowIn=X-Liri;
NoDisplay=true


# Translations
Name[ru]=Управление питанием
Comment[ru]=Управление питанием
