[Desktop Entry]
Categories=Qt;X-Liri;Settings;
Comment=View your battery status and change power saving settings
Comment[ca]=Veja l'estat de la seua bateria i canvii els ajustos d'estalvi d'energia
Comment[cs_CZ]=Zobrazit stav baterie a změnit nastavení šetření energií
Comment[da]=Vis din batteristatus og skift indstillinger for strømbesparelse
Comment[de]=Batteriestatus anzeigen und Energiespareinstellungen ändern
Comment[el]=Δείτε την κατάσταση της μπαταρίας σας και αλλάξτε τις ρυθμίσεις εξοικονόμησης ενέργειας
Comment[es]=Ve el estado de tu batería y cambia las opciones de ahorro de energía
Comment[es_MX]=Ver el estado de la batería y cambiar la configuración de ahorro de energía
Comment[fr]=Affichez l'état de votre batterie et modifiez les paramètres d'économie d'énergie
Comment[hr_HR]=Pogledajte status baterije i promjenite postavke štednje energije
Comment[id]=Lihat status baterai Anda dan ubah pengaturan hemat daya
Comment[it]=Controlla la percentuale della batteria e cambia profilo batteria
Comment[ko]=배터리 상태 확인 및 전원 절약 설정
Comment[lt]=Rodyti baterijos būseną ir keisti energijos taupymo nustatymus
Comment[nl]=Bekijk je batterijstatus en verander je energiebesparingsinstellingen
Comment[pl]=Zobacz status baterii i zmień ustawienia oszczędzania energii
Comment[pt]=Ver o estado da sua bateria e alterar definições de poupança de energia
Comment[pt_PT]=Ver estado da bateria e alterar definições de poupança de energia
Comment[ru]=Просмотр состояния батареи и изменение настроек энергосбережения
Comment[sk]=Zobraziť stav batérie a zmeniť nastavenia možností napájania
Comment[tr]=Pil durumunuzu görün ve güç tasarrufu ayarlarını değiştirin
Comment[zh_CN]=查看电池状态与修改节能设置
Comment[zh_TW]=檢視電源狀態及更改電源節省設定
Icon=preferences-system-power-management
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Name=Power
Name[ca]=Energia
Name[cs_CZ]=Energie
Name[da]=Strøm
Name[de]=Energie
Name[el]=Ενέργεια
Name[es]=Energia
Name[es_MX]=Energia
Name[fr]=Alimentation
Name[hr_HR]=Energija
Name[id]=Daya
Name[it]=Accensione/Spegnimento
Name[ja_JP]=電源
Name[ko]=전원
Name[lt]=Maitinimas
Name[nl]=Stroom
Name[pl]=Zasilanie
Name[pt]=Energia
Name[pt_BR]=Energia
Name[pt_PT]=Energia
Name[ru]=Заряд
Name[sk]=Výkon
Name[tr]=Güç
Name[zh_CN]=电源
Name[zh_TW]=電源設定
OnlyShowIn=X-Liri;
Type=Application
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=notification/power
