[Desktop Entry]
Type=Application
Name=Power
Name[da]=Strøm
Name[de]=Energie
Name[it]=Alimentazione
Name[lt]=Maitinimas
Name[nl]=Energie
Name[pt_BR]=Energia
Name[ru_RU]=Энергия
Name[tr]=Güç
Comment=View your battery status and change power saving settings
Comment[da]=Vis din batteristatus og skift indstillinger for strømbesparelse
Comment[de]=Sehen Sie sich Ihren Batterie-/Akkustatus an und ändern Sie die Energiespareinstellungen
Comment[it]=Visualizza lo stato della batteria e modifica le impostazioni di risparmio energetico
Comment[lt]=Rodyti baterijos būseną ir keisti energijos taupymo nustatymus
Comment[nl]=Bekijk je accustatus en pas de energiebesparingsinstellingen aan
Comment[pt_BR]=Veja o status de sua bateria e altere as configurações de economia de energia
Comment[tr]=Pil durumunuzu görün ve güç tasarrufu ayarlarını değiştirin
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Keywords[da]=Strøm;Slumre;Suspender;Dvale;Batteri;Lysstyrke;Nedton;Ryd;Monitor;Skærm;DPMS;Inaktiv;
Keywords[de]=Energie;Schlaf;Bereitschaftszustand;Ruhezustand;Batterie;Akku;Helligkeit;Dimmen;Leer;Monitor;DPMS;Leerlauf;
Keywords[it]=Alimentazione;Sleep;Sospendi;Iberna;Batteria;Luminosità;Attenua;Spegni;Monitor;DPMS;Inattivo;
Keywords[lt]=Maitinimas;Miego veiksena;Miegas;Pristabdyti;Užmigdyti;Baterija;Akumuliatorius;Ryškumas;Skaistis;Užtemdyti;Išjungti;Monitorius;Vaizduoklis;Ekranas;DPMS;Neveiklus;
Keywords[nl]=Energie;Slaap;Slaapstand;Pauzestand;Accu;Helderheid;Dimmen;Uitschakelen;Monitor;Beeldscherm;DPMS;Inactief;
Keywords[pt_BR]=Energia;Dormir;Suspender;Hibernar;Bateria;Brilho;Dim;Monitor;DPMS;Ocioso;
Keywords[tr]=Güç;Uyku;AskıyaAl;Beklet;Duraklat;DerinUyku;HazırdaBeklet;Pil;Batarya;Parlaklık;Kısma;Boş;Monitör;DPMS;Bekleme;Boşta;
Icon=preferences-system-power-management
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=notification/power
