[Desktop Entry]
Type=Application
Name=Power Manager
Name[da]=Strømstyring
Name[it]=Gestore alimentazione
Name[lt]=Maitinimo tvarkytuvė
Name[pt_BR]=Gerenciador de energia
Name[tr]=Güç Yönetici
Name[zh_TW]=電源管理
Comment=Power Manager
Comment[da]=Strømstyring
Comment[it]=Gestore alimentazione
Comment[lt]=Maitinimo tvarkytuvė
Comment[pt_BR]=Gerenciador de energia
Comment[tr]=Güç Yönetici
Comment[zh_TW]=電源管理
Exec=liri-power-manager
TryExec=liri-power-manager
Terminal=false
StartupNotify=false
OnlyShowIn=X-Liri;
NoDisplay=true
