[Desktop Entry]
Type=Application
Name=Power
Comment=View your battery status and change power saving settings
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;
Icon=preferences-system-power-management
Categories=Qt;X-Liri;Settings;
OnlyShowIn=X-Liri;
X-Liri-Settings-Category=hardware
X-Liri-Settings-SymbolicIcon=notification/power


# Translations
Icon[pt_BR]=preferences-system-power-management
Name[pt_BR]=Energia
Comment[pt_BR]=Veja o status de sua bateria e altere as configurações de economia de energia
